* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color : lightblue;
    --fade-color : #add8e6c7;
}

.container {
    margin: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    border-radius: 10px;
}

.logo-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    padding: 10px;
}

.nav li a {
    color: white;
}

main .container {
    background-image: url('/my-project/images/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vb - 90px);
}

.signup {
    height: auto;
    width: 80%;
}

.landing h1 {
    font-size: 80px;
    margin: 40px 0 0px;
    text-transform: uppercase;
}

.landing h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

.landing p {
    font-size: 20px;
    width: 550px;
    margin-bottom: 20px;
}

.landing button {
    font-size: 20px;
    color: white;
    background-color: var(--main-color);
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
}

footer .container{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer .social-accounts {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.social-accounts li a {
    color: white;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--fade-color);
    padding: 20px 90px;
    border-radius: 10px;
}

.window h1 {
    margin: 0 0 60px;
    text-transform: uppercase;
}

.window form {
    margin-bottom: 20px; 
}

form input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.options a {
    color: white;
}

.signup-option {
    justify-content: center;
}